<!doctype html>
<html lang="en">
{% load static %}
<head>
  <META HTTP-EQUIV="Refresh" CONTENT="5;URL=http://127.0.0.1:8000/Control01/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/back1.css' %}" rel="stylesheet">
  <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">


  <title>Hydroponic Farm-Control01</title>
</head>

<body class="masthead ">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'Main' %}">HOME</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'Getstarto' %}">MY FRAM</FRAMe></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'How_to_care' %}">HOW TO CARE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'Cost' %}">COST</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  </nav>
  <header>
    <div class="container-fluid">
      <div class="carousel-item active ">
        <div class="row">
          <div class="col-6 border-right border-secondary ">
              <h5></h1>Farm01: Vegetable Name</h5>
              <!-- <div class="textice">Vegetable Name</div> -->
              <br/>  <br /> 
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
            <img src="{% static 'img/83408-200.png' %} " width="380"  height="380">
 
            
           {% if 1 == 1 %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="btn btn-success active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Auto
                </label>
                <label class="btn btn-success">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Manual
                </label>
              </div>
            {% else %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="btn btn-success ">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Auto
                </label>
                <label class="btn btn-success active">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Manual
                </label>
              </div>
            {% endif%}


              <br /> <br/>
          </div>
          <form>
          <div class="col-6">
              <table class="table table-borderless">
                  <br /> 
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <thead>
                      <tr>
                          <th scope="col"></th>
                          <th scope="col" d>EC</th>
                          <th scope="col">{{d}}</th>
                          <th scope="col"></th>
                        </tr>
                    </thead>
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">pH</th>
                      <th scope="col"> 0</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Temperature</th>
                      <th scope="col"> 0</th>
                      <th scope="col">°C</th>
                    </tr>
                    
                    <tr>

                      <th scope="col"></th>
                      <th scope="col">Humidity</th>
                      <th scope="col">0</th>
                      <th scope="col">%</th>
                    </tr>
                    <tr>

                      <th scope="col"></th>
                      <th scope="col">Electricity bil</th>
                      <th scope="col"></th>
                      <th scope="col">Unit</th>
                    </tr>
                  </tbody>
                </table>
               
                <div class="row">
                  <div class="col-4">&nbsp;&nbsp;&nbsp;&nbsp;<button>
                    <a href="{% url 'Setting01' %}"><font color="#000000">setting</font></a></button></div>
                  <div class="col-8 ">
                
                  </div>
                  </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </header>






  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>